/* /blocks/weather/weather.css */
.weather-card {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #27BBF5;
  }
  .weather-card .temp {
    font-size: 2em;
    font-weight: bold;
}
